*{
    margin: 0;
    padding: 0;
}
.footer_main{
    max-width: 1500px;
    width: 100%;
    height: 100vh;
    margin-top: 25%;
    position:relative;
    align-items: center;
    z-index: 1;
}
.footer_inner{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    object-fit: contain;
    height: 400px;
    background-color: #d78a42;
}
.footer_content{
    width: 200px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.footer_content> .footer_heading{
    font-weight: bold;
    margin-top:15%;
    color: white;
    text-align: left;
}
.footer_content> .footer_text{
    color: white;
    text-align: left;
}
.footer_image >img{
    object-fit: contain;
    width: 300px;
    height: 200px;
    margin-top: 30%;
}
.footer_location> img{
    object-fit: contain;
    width: 500px;
    height: 200px;
    margin-top: 20%;
    border: 2px solid black;
    border-radius: 4px;
    padding: 2px;
}
.footer_bottom{
    max-width: 1500px;
    width: 100%;
    height: 80%;
    margin-top: 5%;
    position:relative;
    align-items: center;
    z-index: 1;
    display: flex;
    flex-direction: column;
}
.upper_side {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title2{
    font-size: 40px;
    color: #D27D2D;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Fjalla One', sans-serif;
    letter-spacing: 3px;
}
.para{
    text-align: left;
    margin-left: 15%;
    margin-right: 15%;
}
.middle_image{
    height:20% ;
}
.middle_image > img{
    align-items: center;
    height:60px;
   width: 300px;
    margin-top: 25px;
}
.bottom_media, .media_icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index:1;
}
.media{
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    margin-top: 15px;
    font-size: 22px;
    color: #D27D2D;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.icons{
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    margin-top: 20%;
    width: 50px;
    height: 50px;
    background-color: #D27D2D;
    border-radius: 60px;
    border: 1px solid #D27D2D;
    align-items: center;
}
.ending{
    width: 100%;
    margin: 0px;
}
.ending_para{
    text-align: center;
    letter-spacing: 2px;
    margin: 90px;
    margin-top: 50px;
    margin-bottom: 0px;
    padding: 4%;
    padding-top: 0%;
}